*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button1{
  background-color: #2c3e50;
  color: white;
  padding: 10px;
}
.button2{
  float: right;
  background-color: #2c3e50;
  padding: 10px;
  color: white;
}
.profile{
  height: 200px;
}
h1{
  color: white;
  text-align: center;
}


.fas{
  display: inline-block;
  color: white;
  margin: 0 auto;
  transform: translate(0, -100%);
}

.my_navbar-default{
  background-color: #2c3e50;
  border: none;
  color: white;
}
#line_third_row{   /*??????????????????????????????????*/
  margin-left: 250px;
}

hr{
  width: 100px;
  display: inline-block;
}


.navbar-default .navbar-nav>li>a {/*SELEZIONI SU CLASSI FREAMWORK*/
  color: white;
}
.navbar-default .navbar-brand {/*SELEZIONI SU CLASSI FREAMWORK*/
  color: white;
}

.box_profile{
  background-color: #1ABC9C;
  padding-top: 100px;
}


.second-line p{
  text-align: center;
  color: white;
}

.third-line div hr{
  color: #2c3e50;
  width: 100px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.third-line i{
  color: #2c3e50;
}
.third-line h2{
  text-align: center;
  color: #2c3e50;
}
.third-line img{
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.fourth-line{
  background-color: #1ABC9C;
}
.fourth-line h2, p{
  text-align: center;
  color: white;
}
.fourth-line button{
  margin-left: 46%;
}

.fifth-line{
  height: 100%;
}
.fifth-line h2{
  text-align: center;
}
.fifth-line button{
  background-color: #5cb85c;
  color: white;
  margin-bottom: 15px;
}
form{
  width: 400px;
  margin: 0 auto;
}


.sixth-line{
  background-color: #708090;
  height: 100%;
}

.fab{
  padding: 5px;
}

.seventh-line{
  background-color: #2c3e50;
  height: 100%;
}
